@model Group9_Assignment2.Models.GenerateLetterViewModel

@{
    ViewData["Title"] = "Letter Template";
}

<div class=" bg-primary p-4" style="border-top-left-radius: 2em; border-top-right-radius: 2em;">

    <h1 class="text-white">Letter Template</h1>
        
    <a class="btn btn-outline-light" onclick="SubmitForm()">Preview</a>
</div>


<div class="container-fluid p-3">

    @using (Html.BeginForm("Preview", "Letters", FormMethod.Post)) {

        //Text area is overwritten by TinyMCE text editor, on form submit the content from the editor is pushed into the TextArea to satisfy model binding.
        @Html.TextAreaFor(m=>m.LetterContent)
    }

</div>

@section Scripts {

    <script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="@Url.Content("~/scripts/LetterEditor.js")"></script>

    <script>
        function SubmitForm() {
            tinyMCE.triggerSave();
            $("form").submit();
        }
    </script>
  
}
